@page "/"

<PageTitle>Index</PageTitle>

<h1>Marvijo - Football Result Predictor</h1>

Marvijo - Football Result Predictor

<SurveyPrompt Title="How are you finding the predictor? Email Marvin Thobejane at: marvinthobe@gmail.com" />
